html {
  background: url(../images/austin-moncada-186841.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Comic Sans', sans-serif;
}

.prof-box {
  width: 400px;
  height: 400px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  color: white;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

.prof-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

h1 {
  font-weight: 100;
  letter-spacing: 700;
  font-size: 40px;
}
